

*{
    margin: 0; padding: 0;
    
}


html{
    
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    width: 100%;
    height: 100%;
}

body{
    
     width: 100%;
    height: 100%;
    
}

#main{
    display: flex;
    padding: 0% 0%;
    background-color: #0799B6;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


#Cont_calculadora{
    display: flex;
    flex-direction: column;
    padding: 0% 0%;
    background-color: #114C5F;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 80%;
    border-radius: 10%;
    box-shadow: dimgrey;
}

#lat{
    margin: 15px; padding: 15px;  
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2e6cf;

}
#long{
    margin: 15px; padding: 15px;  
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2e6cf;
}

#calc{
    margin: 40px;   
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0.5rem;
    background-color: #9cd2d3;
    
}